{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The big featured header on the homepage, with the site logo and description }}
<header id="site-head" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
    <div class="vertical">
        <div id="site-head-content" class="inner">

            {{#if @blog.logo}}<a id="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
            <h1 class="blog-title">{{@blog.title}}</h1>
            <h2 class="blog-description">{{@blog.description}}</h2>

            <a class='btn first'>Read stuff</a>
            <a class='btn last'>About me</a><br>
            <span style="font-size: 200%;"><a href="http://www.twitter.com/GertjanLeemans" class="icon-twitter-sign"></a>  <a href="http://www.linkedin.com/in/gertjanleemans" class="icon-linkedin-sign"></a>  <a href="mailto:<a href='mailto:gertjan@digitalisma.com'>gertjan@digitalisma.com</a>" class="icon-envelope"></a>  <a href="skype:gertjan.digitalisma.com?call" class="icon-skype"></a>  <a href="https://github.com/gertjanleemans" class="icon-github-sign"></a></span>
            <i id='header-arrow' class="icon-angle-down"></i>
        </div>
    </div>

</header>

{{! The main content area on the homepage }}
<main class="content" role="main">

    <div class='fixed-nav'>
    </div>

    {{! Each post will be output using this markup }}
    {{#foreach posts}}
    <div class='post-holder'>
        
            {{#if @first}}
                <article class="{{post_class}} first">
            {{else}}
                <article class="{{post_class}}">
            {{/if}}
        
            <header class="post-header">
                
                <h2 class="post-title">{{{title}}}</h2>

            </header>
            <section class="post-content">
                <p>{{content characters="9999999999999"}}</p>
            </section>
            
            <section class="share">
                <center>
                    <a class="icon-twitter" href="http://twitter.com/share?text={{title}}&url={{url absolute="true"}}"
                        onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                        <span class="hidden">Twitter</span>
                    </a>
                    <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                        onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                        <span class="hidden">Facebook</span>
                    </a>
                    <a class="icon-linkedin" href="http://www.linkedin.com/shareArticle?url={{url absolute="true"}}"
                       onclick="window.open(this.href, 'linkedin-share', 'width=490,height=530');return false;">
                        <span class="hidden">LinkedIn</span>
                    </a>
                    <a class="icon-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"
                       onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                        <span class="hidden">Google+</span>
                    </a>
                </center>
            </section>
        </article>
        <div class='post-after'></div>
    </div>

    {{/foreach}}

    {{!! After all the posts, we have the previous/next pagination links }}
    
    <div class='post-holder'>
        <article class="post tag-about last">
            <header class="post-header">
                <h2 class="post-title">About me</h2>
            </header>
            <section class="post-content">
                <p><p>I've been interested in technology since I was very young. My fascination for computers came when I was about 8. I started programming when I was 10. I graduated with a Bachelor degree in Computing Science in 2012.</p>

                <p>When smartphones got around, I really got hooked. In 2012 I co-founded <a href="http://www.digitalisma.com">Digitalisma</a>, to provide customers with the best Mobile experience possible.</p>

                <p>Being part of a start-up, I'm a part of everything that's going on at Digitalisma. I'm primarily focussed on the technical side, and am always on the lookout for people that can strengthen our (already awesome) team!</p></p>
            </section>
        </article>
        <div class='post-after'></div>
    </div>

    <div class='post-holder'>
        <article class="post tag-social tag-share tag-contact">
            <header class="post-header">
                <h2 class="post-title" style="text-align: center;">Get in touch</h2>
            </header>
            <section class="post-content">
                <p>
                    <p>
                        If you'd like to connect with me, send me an invite on LinkedIn, drop me a tweet, send me a mail or contact me on any of the rest!
                    </p>

                    <p>
                        <center>
                            <span style="font-size: 200%;">
                                <a href="http://www.twitter.com/GertjanLeemans" class="icon-twitter-sign"></a>
                                &nbsp;<a href="http://www.linkedin.com/in/gertjanleemans" class="icon-linkedin-sign"></a>
                                &nbsp;<a href="mailto:gertjan@digitalisma.com" class="icon-envelope"></a>
                                &nbsp;<a href="skype:gertjan.digitalisma.com?call" class="icon-skype"></a>
                                &nbsp;<a href="https://github.com/gertjanleemans" class="icon-github-sign"></a>
                            </span>
                        </center>
                    </p>
                </p>
            </section>
        </article>
        <div class='post-after'></div>
    </div>
</main>
